---
title: TFNFT | Token-Feed of Non-Fungible Token News
---

<header>
  <h1 class="logotype">TFNFT</h1>
  <h3>A Token-Feed of Non-Fungible Token News</h3>
  <h5>by <a class="secret-link" href="https://concourseq.io">ConcourseQ</a> and <a class="logotype" href="https://XLNT.co">XLNT</a></h5>
</header>

<section class="row align-center">
  <div class="columns small-10">
    <p>It's a news source where the articles are selected by a group of interested individuals working together to make the feed high quality.</p>
    <br />
    <p>We're interested in articles about Non-Fungible Tokens! Not familiar with Non-Fungible Tokens? Check out <a href="https://medium.com/xlnt-art/an-artists-guide-to-the-blockchain-part-1-1b0180e5a17a">"An Artist's Guide to the Blockchain".</a></p>
  </div>
</section>

<section class="row">
  <div class="columns small-12 medium-6">
    <%= image_tag 'discord.png' %>
  </div>
  <section class="columns small-12 medium-6">
    <h2>Curated by Individuals</h2>
    <p>We use the ConcourseQ Discord chat to curate the articles and news that ends up in the TFNFT feeds.</p>
    <p>Interested in being a curator?</p>
    <a class="hollow button" href="https://discordapp.com/invite/APWsHNq">Join the ConcourseQ Community on Discord</a>
  </section>
</section>

<div class="row align-center">
  <div class="columns small-10">
    <h2 class="text-center">Follow the TFNFT Feed</h2>
  </div>
</div>

<div class="row">
  <section class="columns small-12 medium-4">
    <h3 class="text-center"><a href="https://t.me/tfnft">On Telegram</a></h2>
    <%= image_tag 'col1.png' %>
    <a class="hollow button" href="https://t.me/tfnft">Follow TFNFT on Telegram</a>
  </section>
  <section class="columns small-12 medium-4">
    <h3 class="text-center"><a href="https://twitter.com/TFNFTco">On Twitter</a></h2>
    <%= image_tag 'col2.png' %>
    <a class="hollow button" href="https://twitter.com/TFNFTco">Follow TFNFT on Twitter</a>
  </section>
  <section class="columns small-12 medium-4">
    <h3 class="text-center"><a href="https://reddit.com/r/XLNT">On Reddit</a></h3>
    <%= image_tag 'col3.png' %>
    <a class="hollow button" href="https://reddit.com/r/XLNT">Subscribe to XLNT on Reddit</a>
  </section>
</div>

<footer>
  <div class="row align-center">
    <div class="columns small-10 center-center">
      <p class="text-center"><span class="logotype">TFNFT</span> is an <span><a  class="logotype" href="https://XLNT.co">XLNT</a></span> project.</p>
    </div>
  </div>
</footer>
